<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</th:block>
<div th:fragment="cityContents">
    <section class="property-details-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pd-text">
                        <div class="row">
                            <!--City 제목 및 도시 이름 리스트-->
                            <div class="col-lg-6">
                                <div class="pd-title">
                                    <h3 th:text="#{city.info.title}">제목</h3>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="pd-social">
                                    <th:block th:each="cityName:${cityList}">
                                        <a th:href="@{|/city?menu=${cityName}|}" th:text="#{${cityName}}"></a>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="pd-board">
                            <div class="tab-board">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                           th:text="#{city.tab.intro}">도시 소개</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                           th:text="#{city.tab.transport}">교통 정보</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                           th:text="#{city.tab.weather}">전년도 기온 정보</a>
                                    </li>
                                </ul><!-- Tab panes -->
                                <div class="tab-content">
                                    <!--도시 소개-->
                                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                        <div class="tab-desc">
                                            <div class="row" th:with="cityInfo=${cityInfos['INTRO']}">
                                                <div class="col-lg-4 col-md-6 mix">
                                                    <div class="cityImg set-bg"
                                                         th:style="'background-image:url(img/intro/' + ${cityInfo.cityInfoImage} + ');'">
                                                        <div class="label" th:text="#{${menu}}">도시 이름</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="cityText" th:text="${cityInfo.cityInfoDesc}">도시 소개 정보</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--교통 정보-->
                                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                                        <div class="tab-details">
                                            <ul class="left-table">
                                                <li>
                                                    <span class="type-title">[[#{city.tab.transport.infoTitle}]]::[[#{${menu}}]]</span>
                                                </li>
                                                <li th:each="num : ${#numbers.sequence(0,2)}">
                                                        <span class="type-name"
                                                              th:text="#{${cityTransports[num].cityTransportCategory}}">교통 종류</span>
                                                    <span class="type-value"
                                                          th:text="${cityTransports[num].cityStationCount}">정류장 및 노선 개수</span>
                                                </li>
                                                <li><span class="type-footer"> &nbsp;</span></li>
                                            </ul>
                                            <ul class="right-table">
                                                <li><span class="type-title"> &nbsp;</span></li>
                                                <li th:each="num : ${#numbers.sequence(3,5)}">
                                                        <span class="type-name"
                                                              th:text="#{${cityTransports[num].cityTransportCategory}}">교통 종류</span>
                                                    <span class="type-value"
                                                          th:text="${cityTransports[num].cityStationCount}">정류장 및 노선 개수</span>
                                                </li>
                                                <li class="type-footer" th:text="#{city.tab.transport.source}">출처 표시
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--전년도 기온 정보-->
                                    <div class="tab-pane" id="tabs-3" role="tabpanel">
                                        <div class="tab-details">
                                            <ul class="left-table">
                                                <li>
                                                    <span class="type-title">[[#{city.tab.weather.infoTitle}]]::[[#{${menu}}]]</span>
                                                </li>
                                                <li th:each="num : ${#numbers.sequence(0,5)}">
                                                        <span class="type-name"
                                                              th:text="#{${cityWeathers[num].cityWeatherMonth}}">월</span>
                                                    <span class="type-value">[[#{city.tab.weather.avg}]] : [[${cityWeathers[num].cityWeatherAVGTemp}]]&#8451; | [[#{city.tab.weather.low}]] : [[${cityWeathers[num].cityWeatherMinTemp}]]&#8451; | [[#{city.tab.weather.high}]] : [[${cityWeathers[num].cityWeatherMaxTemp}]]&#8451;</span>
                                                </li>
                                                <li><span class="type-footer"> &nbsp;</span></li>
                                            </ul>
                                            <ul class="right-table">
                                                <li><span class="type-title"> &nbsp;</span></li>
                                                <li th:each="num : ${#numbers.sequence(6,11)}">
                                                        <span class="type-name"
                                                              th:text="#{${cityWeathers[num].cityWeatherMonth}}">월</span>
                                                    <span class="type-value">[[#{city.tab.weather.avg}]] : [[${cityWeathers[num].cityWeatherAVGTemp}]]&#8451; | [[#{city.tab.weather.low}]] : [[${cityWeathers[num].cityWeatherMinTemp}]]&#8451; | [[#{city.tab.weather.high}]] : [[${cityWeathers[num].cityWeatherMaxTemp}]]&#8451;</span>
                                                </li>
                                                <li class="type-footer" th:text="#{city.tab.weather.source}">출처 표시</li>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Food 및 View 부분 Slide로 출력!!!-->
    <section class="agent-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <div class="section-title">
                        <h4>[[#{city.cat.view}]] & [[#{city.cat.food}]]</h4>
                    </div>
                </div>
            </div>
            <div class="as-slider owl-carousel">
                <div class="row">
                    <div class="col-lg-4 col-md-6" th:each="cityView : ${cityInfos['VIEW']}">
                        <div class="as-item">
                            <div class="as-pic set-bg"
                                 th:style="'background-image:url(img/view/' + ${cityView.cityInfoImage} + ');'">
                                <div class="label" th:text="${cityView.cityInfoDesc}">사진 제목</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6" th:each="cityFood : ${cityInfos['FOOD']}">
                        <div class="as-item">
                            <div class="as-pic set-bg"
                                 th:style="'background-image:url(img/food/' + ${cityFood.cityInfoImage} + ');'">
                                <div class="label" th:text="${cityFood.cityInfoDesc}">사진 제목</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(".as-slider").owlCarousel({
            loop: true,
            margin: 0,
            items: 1,
            dots: false,
            nav: true,
            navText: ['<i class="arrow_left"></i>', '<i class="arrow_right"></i>'],
            smartSpeed: 1200,
            autoHeight: false,
            autoplay: true
        });
    </script>
</div>
</html>