<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-4" th:fragment="mainSideBar">
    <div class="blog-sidebar">
        <div class="subscribe-form">
            <div th:unless="${loginUser}">
                <div class="section-title sidebar-title-b">
                    <h6 th:text="#{login.signIn}">로그인</h6>
                </div>
                <p th:text="#{sideBar.message}">더욱 다양한 한달살기 정보를 제공받으세요.</p>
                <div class="hs-top">
                    <div class="ht-widget">
                        <a th:href="@{/login}" class="hw-btn" th:text="#{login.signIn}">로그인</a>
                    </div>
                </div>
            </div>
            <div th:if="${loginUser}">
                <div class="as-item">
                    <div class="user-pic">
                        <img th:src="@{${loginUser.getProfileImgPath()}}" alt>
                    </div>
                    <div class="as-text">
                        <div class="at-title">
                            <h6 th:text="#{hello.name(${loginUser.name})}"></h6>
                        </div>
                        <ul>
                            <li>[[#{login.email}]] <span>[[${loginUser.email}]]</span></li>
                            <li>[[#{login.genderTypes}]] <span>[[#{'gender.'+${loginUser.genderTypes}}]]</span></li>
                            <li>[[#{login.age}]] <span>[[${loginUser.calcAge()}]][[#{age}]]</span></li>
                        </ul>
                        <div class="hs-top border-bottom-0">
                            <div class="ht-widget">
                                <a th:href="@{/myPage(menu=modify)}" class="hw-btn" th:text="#{myPage}">마이페이지</a>
                                <a th:href="@{/logout}" class="hw-btn" th:text="#{login.logout}">로그아웃</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pd-text">
                    <div class="pd-board mb-0">
                        <div class="tab-board">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="user-service">
                                    <a class="nav-link" data-toggle="tab" href="#profile-tabs-1" role="tab"
                                       style="font-size: 16px" th:text="#{main.mySchedule}">스케줄</a>
                                </li>
                                <li class="user-service" style="font-size: 16px">
                                    <a class="nav-link" data-toggle="tab" href="#profile-tabs-2" role="tab"
                                       style="font-size: 16px" th:text="#{main.myReview}">게시글</a>
                                </li>
                            </ul><!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane" id="profile-tabs-1" role="tabpanel">
                                    <div class="tab-desc pl-3 pr-1">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="profile-tabs-2" role="tabpanel">
                                    <div class="tab-desc pl-3 pr-1">
                                        <div class="row">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>