<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-8" th:fragment="mainPopularContents">
    <div class="pd-text">
        <div class="pd-board">
            <div class="tab-board">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">[[${asd}]]SCHEDULE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">REVIEW</a>
                    </li>
                </ul>
                <!-- Tab Contents -->
                <div class="tab-content">
                    <!--다른사람 스케줄-->
                    <div class="tab-pane active" id="tabs-1" role="tabpanel">
                        <div class="tab-desc" style="overflow: visible">
                            <div class="row" style="overflow: visible">
                                <div class="blog-item pl-0 pt-0" th:each="scheduleContent,stat : ${top5Schedules}"
                                     style="overflow: visible">
                                    <div class="pc-table m-0" style="width: 32%;float: left;">
                                        <a href="#">
                                            <div th:replace="main/smallCalendar :: smallCalendar"></div>
                                        </a>
                                    </div>
                                    <div class="bi-text pt-4 pl-3">
                                        <h5>
                                            <a href="#" th:text="${scheduleContent.title}">제목</a>
                                        </h5>
                                        <ul>
                                            <li>by <span th:text="${scheduleContent.user.nickname}">닉네임</span>
                                            </li>
                                            <li><span>[[${scheduleContent.user.calcAge()}]][[#{age}]]</span>
                                            </li>
                                            <li>
                                                <span>[[#{'gender.'+${scheduleContent.user.genderTypes}}]]</span>
                                            </li>
                                            <li>
                                                <i class="icon_like mr-1"></i><span
                                                    th:text="${scheduleContent.viewCount}"></span>
                                            </li>
                                        </ul>
                                        <p>[[${scheduleContent.user.nickname}]]님의
                                            [[#{${scheduleContent.city.name}}]]에서
                                            한달살기 스케줄 입니다!!</p>
                                        <a href="#"
                                           class="read-more">스케줄 보러가기 <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--인기 게시글-->
                    <div class="tab-pane" id="tabs-2" role="tabpanel">
                        <div class="tab-desc">
                            <div class="row">
                                <div class="blog-item" th:each="review: ${top5Reviews}">
                                    <div class="pr-pic">
                                        <img th:src="@{${review.user.getProfileImgPath()}}" alt>
                                    </div>
                                    <div class="bi-text">
                                        <h5><a href="#" th:text="${review.title}">제목</a>
                                        </h5>
                                        <ul>
                                            <li>by <span th:text="${review.user.nickname}">닉네임</span></li>
                                            <li><span
                                                    th:text="${#temporals.format(review.reviewDate,'yyyy-MM-dd HH:mm:ss')}">작성시간</span>
                                            </li>
                                            <li>
                                                <i class="icon_like mr-1"></i><span>3</span>
                                            </li>
                                            <li>
                                                <i class="fa fa-eye mr-1"></i><span
                                                    th:text="${review.viewCount}">조회수</span>
                                            </li>
                                        </ul>
                                        <p>[[${review.user.nickname}]]님이 작성한 게시글입니다!!</p>
                                        <a href="#" class="read-more">
                                            게시글 보러가기 <span class="arrow_right"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
