<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="royal-navy p-3" th:with="todayInformation=${calendarData['todayInformations'].get(stat.index)},
                                            dateList=${calendarData['calendarDTODateList'].get(stat.index)},
                                            listIndex=${stat.index}+1"
     th:fragment="smallCalendar">
    <table class="calendar_body p-2">
        <tbody>
        <tr>
            <th class="p-0" colspan="7" th:text="${calendarData['monthList'][(todayInformation.searchMonth)-1]}">
            </th>
        </tr>
        <tr class="calendar-header p-0">
            <td class="calendar-header-day p-0">Sun</td>
            <td class="calendar-header-day p-0">Mon</td>
            <td class="calendar-header-day p-0">Tue</td>
            <td class="calendar-header-day p-0">Wed</td>
            <td class="calendar-header-day p-0">Thu</td>
            <td class="calendar-header-day p-0">Fri</td>
            <td class="calendar-header-day p-0">Sat</td>
        </tr>
        <div th:each="dateList,dateStatus:${dateList}">
            <div th:if="${dateList.value=='today'}">
                <tr th:if="${dateStatus.index%7==0}">
                    <td th:id="${listIndex}+'_'+${dateList.date}" class="today p-0">
            </div>
            <div th:if="${dateStatus.index%7==0}">
                </tr>
                <tr>
                    <td th:id="${listIndex}+'_'+${dateList.date}" class="sun_day p-0">
            </div>
            <div th:if="${dateStatus.index%7==6}">
                <td th:id="${listIndex}+'_'+${dateList.date}" class="sat_day p-0">
            </div>
            <div th:unless="${dateList.value=='today'||dateStatus.index%7==0||dateStatus.index%7==6}">
                <td th:id="${listIndex}+'_'+${dateList.date}" class="normal_day p-0">
            </div>
            <span class="contents pl-1" th:text="${dateList.date}"></span>
            <div class="scheduleContentsModal" th:id="${listIndex}+'_'+${dateList.date}+'_modal'">
                <div class="form-group mb-0">
                    <label class="scheduleContentLabel m-0 pl-3">Contents Title</label>
                    <div th:each="scheduleList,status:${dateList.scheduleDataArray}">
                        <label th:if="${scheduleList}" id="scheduleContentSubject"
                               class="contents-label mt-1" readonly th:text="'#'+${status.index}+1+'. '+${scheduleList.title}">
                            </label>
                        <div th:with="scheduleStatus=true" th:text="${scheduleStatus}">
                            <script th:inline="javascript" th:if="${scheduleStatus == true}">
                                var day = /*[[${listIndex}]]*/+"_"+/*[[${dateList.date}]]*/;
                                $('.contents').parent('td #'+day).css('background-color', '#4D939E');
                                $('.contents').parent('td#'+day).css('font-weight', 'bold');
                                $('.contents').parent('td#'+day).css('color', '#e1edea');
                                $('.contents').parent('td#'+day).attr("name", 'Contents');
                                $('td#'+day).hover(function (e) {
                                    $('td#'+day).css('color', '#4D939E');
                                    $('td#'+day).css('background-color', '#e1edea');
                                    $('#'+day+'_modal').css('left', e.offsetX + 20);
                                    $('#'+day+'_modal').css('top', e.offsetY + 5);
                                    $('#'+day+'_modal').css('display', 'block');
                                }, function (e) {
                                    $('td#'+day).css('color', '#e1edea');
                                    $('td#'+day).css('background-color', '#4D939E');
                                    $('#'+day+'_modal').css('display', 'none');
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </tbody>
    </table>
</div>

</html>